.login-left{
    background: #141414;
    width: 50%;
    height: 100vh;
    max-height: 100%;
    margin-top: 0;
    overflow-y: scroll;
    box-shadow: 38px 11px 86px 121px rgba(20,20,20,1);
    -webkit-box-shadow: 38px 11px 86px 121px rgba(20,20,20,1);
    -moz-box-shadow: 38px 11px 86px 121px rgba(20,20,20,1);
}

.login-left::-webkit-scrollbar{
    width: 0px !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: #fff !important;
}

.form-left{
    margin-top: 2em;
    position: relative;
    top: 10%;
    left: 10%;
    text-align: left;
    max-width: 35vw;
    align-items: left;
}