.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
    width: 70%;
    padding: 0 2em;
    overflow-y: scroll;
    max-height: 100vh;
}


/* hide the scroll bar but still can scroll */
.left::-webkit-scrollbar {
    width: 0 !important
}

.right{
    width: 30%;
    height: 100vh;
    max-height: 100vh;
    background: #141414;
    -webkit-box-shadow: 3px 0px 73px 1px rgba(173,173,173,0.5);
    -moz-box-shadow: 3px 0px 73px 1px rgba(173,173,173,0.5);
    box-shadow: 3px 0px 73px 1px rgba(173,173,173,0.5);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}