@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');

.featured{
    width: 100%;
    position: relative;
}

.featured-poster {
    width: 100%;
    height: 30em;
    background-size: contain;
    object-fit: fill;
    border-radius: 30px;
}

.title{
    color: white;
    background: rgba(71, 69, 69, 0.404);
    padding: 0.1em;
    border-radius: 12px;
}

.info{
    position: absolute;
    width: 100%;
    bottom: 10%;
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.thumbs{
    display: flex;
    width: 40%;
    height: 7em;
    background: rgba(39, 39, 34, 0.8);
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em;
    box-sizing: border-box;
    border-top-left-radius: 1.3em;
    border-bottom-left-radius: 1.3em;
    overflow-x: scroll;
    /* scroll-snap-type: x mandatory; */
    transition: all 1s ease-in-out;
}

.thumbs::-webkit-scrollbar{
    display: none !important;
}

.child{
    scroll-snap-align: start;
}

.slider{
    display: flex;
    transition: all 1s ease-in-out;
}


.trailer{
    width: 8em;
    height: 6em;
    border-radius: 16px;
    cursor: pointer;
}

.thumbs .thumbnail{
    width: 9em;
    height: 6em;
    margin: 0.5em 1;
    border-radius: 16px;
    cursor: pointer;
}

.m-l-1{
    margin-right: 0.5em;
}

.next-button{
    border-radius: 12px;
    background: #fff;
    border: 1px solid transparent;
}

.next-button.thumb-child{
    position: absolute;
    right: 0;
    z-index: 4;
    top: 20%;
}

.next-button:hover{
    cursor: pointer;
    background: rgba(255, 255, 255, 0.8);
}

.title-and-season{
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title-and-season .title{
    font-size: 50px;
    font-family: 'Play', sans-serif;
}

.title-and-season .season{
    color: #E0E2F2;
}

.watch-now{
    height: 3em;
    width: 6em;
    align-self: left;
    margin: 0.3em;
    border-radius: 8px;
    border: none;
    background: tomato;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
}

.watch-now:hover{
    background: rgba(255, 99, 71, 0.85);
}